html, body {
    height: 100%;
}

.characterBackground {
    background: url(/static/img/characterBackground.svg);
    background-size: cover;
}

.auth-container {
    align-items: center;
    flex-direction: column;
    background-color: #36393f;

    border-radius: 10px 10px 10px 10px;
    position: relative;
    padding: 40px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.friends-list a {
   text-decoration: none;
}

.avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.avatar-small {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* Buttons */
button {
    background-color: #5865F2 !important;
    border-color: #5865F2 !important;
    color: white !important;
}
.btn-logOut {
    background-color: #eb4246 !important;
    border-color: #eb4246 !important;
    color: white !important;
}
.btn-logOut:hover{
    background-color: #ca3437 !important;
    border-color: #d53a3d !important;
    color: white !important;
    text-decoration: none;
}

/* link a*/
.a-form{
    color: #8496e8 !important;
    text-decoration: none !important;
}
.a-form:hover{
    color: #8496e8 !important;
    text-decoration: underline !important;
}